<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- <div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let item of items" cdkDrag>
    {{ item }}
  </div>
</div> -->


<div class="container">
  <h3>Itens Disponíveis</h3>
  <div cdkDropList
  [cdkDropListData]="availableItems"
  class="drag-list"
  id="selectedItemsList"
  [cdkDropListConnectedTo]="['availableItemsList']"
  (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of availableItems" cdkDrag>{{ item }}</div>
  </div>

  <h3>Itens Selecionados</h3>
  <div cdkDropList

  [cdkDropListData]="selectedItems" class="drag-list"
  id="availableItemsList"
  [cdkDropListConnectedTo]="['selectedItemsList']"
  (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of selectedItems" cdkDrag>{{ item }}</div>
  </div>
</div>

<router-outlet />
